---
layout: page
title: 标签分类
---

<div class="tags">
    {% for tag in site.tags %}
      {% if forloop.last %}
      <a href="#{{ tag[0] }}" onclick=display('#{{ tag[0] }}' style="font-size: {{ tag[1] | size | times: 1.0 | plus: 19 }}px;">)>{{ tag[0] }}({{ tag[1] | size }})</a>,
      {% else %}
      <a href="#{{ tag[0] }}" onclick=display('#{{ tag[0] }}' style="font-size: {{ tag[1] | size | times: 1.0 | plus: 19 }}px;">)>{{ tag[0] }}({{ tag[1] | size }})</a>
      {% endif %}
    {% endfor %}
</div>

<div class="tags-list">
    {% for tag in site.tags %}
    <div class="tag" id="{{ tag[0] }}">
        <a name="{{ tag[0] }}"></a>
        <h3>标签<strong>“{{ tag[0] }}”</strong>包含下列文章：</h3>
        <ul class="post-tag">
        {% for post in tag[1] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<script>
function display(tag) {
    $(".tag").hide();
    $(tag).show();
}

$(function() {
    $(".tag").hide();
    var show = window.location.hash;
    if(show != "") {
        $(show).show();
    } else {
        $("#{{ site.tags | first | first }}").show();
    }
});

</script>
