/* custom css for resume page */

h1 {
  font-family: 'lucida grande', sans-serif;
  font-variant: initial;
  font-size: 1.5em;
  font-weight: bold;

  margin: 0;
  margin-top: .5em;
}

h2 {
  font-family: 'lucida grande', sans-serif;
  font-variant: initial;
  font-size: 100%;
  margin: initial;
  margin-top: .5em;
  font-weight: bold;
}


ul {
  margin-top: .1em;
  margin-bottom: .5em;
  padding-left: 1.5em;
}

p {
  margin-bottom: .1em;
}

hr {
  border-top: 1px solid silver;
  border-bottom: none;
  padding: 0;
  margin: 1.5em 0 0 0;
}

div.page-header > h1 {
  font-size: 2em;
}

@media all and (min-width: 600px) {
  div.resume-buttons {
    float:right;
  }
}


