#wrap > div.container {

  border: none;
  padding: 0;

}

#footer {

  display: none;

}

#wrap {
 /* max-width: initial; */
}

div.page-header > h1 {

  margin-top: 0;
}

.row {
  margin: 0;
}


.col-xs-12 {
padding: 0;

}

a[href]:after {    
  content: initial;    
}


h1, h2 {
    page-break-after: avoid;
}


.no-print {
  display:none;
}

